// ==UserScript==
// @name         UBS => Tradle
// @namespace    http://tampermonkey.net/
// @version      0.1
// @description  UBS => Tradle customer data push
// @author       You
// @match        https://www.google.com.tw/*
// @match        https://www.google.com/*
// @match        https://ebanking-demo-ch1.ubs.com/workbench/*
// @match        https://ebanking-demo-ch2.ubs.com/workbench/*
// @match        https://ebanking-demo-ch3.ubs.com/workbench/*
// @grant        none
// @require      https://cdn.rawgit.com/tradle/qr/1fc8c78f/dist/bundle.js
// ==/UserScript==

(function() {
    'use strict';
    // default to michael mann
    // qr code type remediation / guest session proof
    var data = getParameterValue('data') || '000A203ABFD9839232FF86FE6E326A4C973F07DDB78B93CF442AF20B144F1F085AFC1F1220FFFF80FAB17A0B068A900EE2BE432027F6BF0FE0A73EBD7ABBA4362482858A571A1568747470733A2F2F7562732E747261646C652E696F';
    var qrcode = document.createElement('canvas');
    var parsed = parse(data);
    tradleqr.toCanvas({
        canvas: qrcode,
        schema: 'ImportData',
        data: parsed
    }, console.log);

    console.log(tradleqr.schema.toHex({ schema: 'ImportData', data: parsed }));

    if (/google.com/.test(window.location.href)) {
      qrcode.style.padding = '50px';
      document.body.appendChild(qrcode);
    } else {
      tryAgain();
    }

    function parse (data) {
        if (data.indexOf(';') !== -1) {
            var parts = data.split(';');
            return {
                dataHash: parts[1],
                provider: parts[2],
                host: parts[3] || ''
            };
        }

        return tradleqr.schema.fromHex(data).data;
    }

    function tryAgain () {
        var iframe = document.getElementById('bzeMainIframe');
        if (iframe) {
            var innerDoc = iframe.contentWindow.document;
            var innerIframe = innerDoc.getElementById('transactionModuleIframe');
            if (innerIframe) {
                innerDoc = innerIframe.contentWindow.document;
                var parent = innerDoc.querySelector('#transactionWidgetPanel .x-panel-bwrap');
                if (parent) {
                    innerIframe.style.height = '500px';
                    var container = document.createElement('div');
                    var heading = document.createElement('div');
                    heading.innerHTML = '<div style="font-size:20px;padding:10px 0;">Import on Mobile</div>';
                    container.appendChild(heading);
                    container.appendChild(qrcode);
                    parent.appendChild(container);
                    return;
                }
            }
        }

        setTimeout(tryAgain, 500);
    }

    function getParameterValue (name) {
        var url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
})();
